Download dataset from: https://insights.stackoverflow.com/survey (2022)

In [2]:
import pandas as pd

In [3]:
# Find salary question in schema
df_schema = pd.read_csv("data/survey_results_schema.csv")
salary_mask = df_schema.question.str.contains("salary")
# salary_mask.value_counts()
salary_question = df_schema.loc[salary_mask]
salary_question

,qid,qname,question,force_resp,type,selector
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL

In [14]:
# Find the mean salary
df_public = pd.read_csv("data/survey_results_public.csv")

# Previously I overlooked the existence of ConvertedCompYearly and the full format of the data
#mask_columns_with_comp = df_public.columns.str.contains("Comp")
#print(df_public.columns[mask_columns_with_comp])

# We do not want NaN values
compensations_not_na = df_public.loc[df_public['ConvertedCompYearly'].notna(), ['ConvertedCompYearly']]

# Some people have inputed gibberish values which skews our results
# We have to set a borderline value which we consider real
# It is still a ridiculous value but let's assume no one gets payed more than 12 milion per year
compensations_real = compensations_not_na.loc[compensations_not_na['ConvertedCompYearly'] <= 12000000]

# Display a whole number
int(compensations_real.mean())

159936