# Задачи за домашно

Работете върху копие на дадения файл <a href='https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/Notebooks/numpy_and_pandas/DataFrame_HW.ipynb' download>DataFrame_HW.ipynb</a>, като попълните с код клетките, маркирани с коментара ```# your code here```, така че получения от вас резлутат (output) да съвпада с дадения под съответната клетка с код.

## Задача 1

Използвайте данните в CSV файла даден тук: https://github.com/geekcourses/JupyterNotebooksExamples/blob/master/datasets/various/drinks.csv, като го свалите локално на вашата машина и заредите данните в DataFrame обект с име `df`.

Покажете първите 10 реда от `df`.

In [5]:
import pandas as pd

df = pd.read_csv("drinks.csv");

In [6]:
df.loc[1:10]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU

## Задача 2

Покажете броя на редовете и колоните в `df`.

In [17]:
print("Rows count: {}".format(len(df.index)))
print("Columns count: {}".format(len(df.columns)))

Rows count: 193
Columns count: 6

## Задача 3

Покажете колко е броя на държавите в континент 'EU'

In [23]:
len(df.loc[df['continent']=='EU'])

45

## Задача 4

Покажете количествата бира ('beer_servings'), вино ('wine_servings') и спиртни напитки ('spirit_servings'), които се концумират в Bulgaria

In [28]:
df.loc[df['country'] == 'Bulgaria', ['country', 'beer_servings', 'wine_servings', 'spirit_servings']]

     country  beer_servings  wine_servings  spirit_servings
25  Bulgaria            231             94              252

## Задача 5

Покажете какво е максимално количество консумирано вино ('wine_servings') в целия дейтасет и коя е държавата в която се консумира то.

In [40]:
max_wine_consumer = df.loc[df['wine_servings'].idxmax()]
print("Maximum wine_servings: {}, consumed in {}".format(max_wine_consumer.wine_servings, max_wine_consumer.country))

Maximum wine_servings: 370, consumed in France

## Задача 6

Покажете какво е максимално количество консумирано вино ('wine_servings') в континент Южна Америка ('SA') и коя е държавата в която се консумира то.

In [45]:
data_sa = df.loc[df['continent']=='SA']
max_wine_consumer_sa = data_sa.loc[data_sa['wine_servings'].idxmax()]
print("Maximum wine_servings in South America: {}, consumed in {}".format(max_wine_consumer_sa.wine_servings, max_wine_consumer_sa.country))

Maximum wine_servings in South America: 221, consumed in Argentina

## Задача 7

Покажете държавата в която се консумира най-много бира ('beer_servings'), какво е количеството и в кой континент се намира тя.

In [46]:
max_beer_consumer = df.loc[df['beer_servings'].idxmax()]
print("Maximum beer_servings: {}, consumed in {} ({})".format(max_beer_consumer.beer_servings, max_beer_consumer.country, max_beer_consumer.continent))

Maximum beer_servings: 376, consumed in Namibia (AF)

## Задача 8

Покажете държавите в които не се консумира бира.

In [48]:
beer_abstainers = df.loc[df['beer_servings']==0]
beer_abstainers.country

0           Afghanistan
13           Bangladesh
40         Cook Islands
46          North Korea
79                 Iran
90               Kuwait
97                Libya
103            Maldives
106    Marshall Islands
107          Mauritania
111              Monaco
128            Pakistan
147          San Marino
149        Saudi Arabia
158             Somalia
Name: country, dtype: object